* text=auto eol=lf
/tests export-ignore
/.github export-ignore
/ui export-ignore
/package.json export-ignore
/vite.config.js export-ignore
/phpstan.neon export-ignore
/pint.json export-ignore
/tests/Golden/** -text
